body {
    background: linear-gradient(to right, #b3d3f8, #50a2f3);
    padding-top: 100px;
    margin: 0;
}
h1 {
    font-family: Roboto, sans-serif;
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
}
p {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    margin-left: 16px;
}
h2 {
    font-family: Roboto;
}
h3 {
    font-family: Roboto;
}
h4 {
    font-family: Roboto;
}
h5 {
    font-family: Roboto;
}
h6 {
    font-family: Roboto;
}
ul {
    font-family: Roboto;
}
div {
    font-family: Roboto;
}
tr {
    font-family: Roboto;
}

i {
    font-size: 24px;
}

.color-default {
    color: #333;
}
.color-chrome {
    color: #f44336;
}
.color-firefox {
    color: #ff9800;
}
.color-safari {
    color: #a2f4ff;
}
.color-edge {
    color: #2196f3;
}
.color-opera {
    color: #ff2f92;
}
.color-ie {
    color: #00bcd4;
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
}

button {
    background-color: #0066ff;
    border: none;
    color: white;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 16px;
    cursor: pointer;
    border-radius: 6px;
}

footer {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer h4 {
    margin: 0;
    font-size: 14px;
}